<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block meta_title %}Zave guestbook test application{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('/static/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">
</head>
<body {% block tag_body_attrs %}{% endblock %}>
    {% block body %}{% endblock %}
    <script src="{{ asset('/build/test.min.js') }}"></script>
</body>
</html>