{% extends '@PriitZaveGuestBook/Default/base.html.twig' %}


{% block container_body %}

    <ol>
        <li>
            <h2>Application specification</h2>
            <pre>
Proovi vanilla PHP'ga kirjutada üks klass, mis on olemuslikult entity.

näiteks külalisteraamatu klass. ideaalselt koos controlleri (index.php) ja mingi templiidiga (templiidimootori valigu ise, ma soovitaks smarty't õppimise eesmärgil) külalisteraamatu kuvamiseks ja entry lisamiseks.

lisada tuleb ka tühi andmebaasischema.

error_reporting peab olema seatud E_ALL seadetesse, ekraanile ja logisse ei tohi tulla ühtegi kirjet.



klassi omadused:

- klassil on atribuudid nimi, email, sisu, lisamise aeg

- constructor võtab sisse *ühe* külalisteraamatu entry ID

- klassil on instantsi meetod, mis fetchib selle ühe entry - alguses üritab üle memcache, kui sealt ei leia siis andmebaasist

- klassil on instantsi meetodid kirje lisamiseks, muutmiseks ja kustutamiseks (koos memcache invalideerimisega)

- klassil on staatiline meetod kõikide entry'te fetchimiseks, parameetriteks järjekord ja kirjete vahemik

- klassi tegemiseks on soovituslik luua helper-klass mis tegeleb memcache ja mysql'i connectimise ja muu mudruga
            </pre>
        </li>
        <li>
            <h2>Technical info</h2>
            <ul>
                <li>
                    MySQL as the main storage server.
                </li>
                <li>
                    <a href="http://redis.io/" target="_blank">Redis</a> as for cache server. Used it over memcache because of it simplicity, possibilities, speed and scalability.
                </li>
                <li>
                    PHP framework: <a href="https://symfony.com/" target="_blank">Symfony 2</a>.
                    You can read about benefits <a href="http://symfony.com/six-technical-reasons" target="_blank">here</a>, but has big community, a lot of available bundles, easy to use,
                    good Dependency injector and lot more.
                </li>
                <li>
                    For template engine i use <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> - it's build into Symfony(but you can change to what ever engine).
                    It's very easy to learn, if you know Smarty or Django template engine.
                </li>
                <li>
                    CSS framework <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
                </li>
                <li>
                    Package manager for frontend <a href="http://bower.io/" target="_blank">Bower</a>
                </li>
                <li>
                    <strike><a href="https://angularjs.org/" target="_blank">AngularJS</a> - frontend application: form submission/validation, messages fetching and rendering</strike>
                </li>
                <li>
                    <a href="http://gruntjs.com/" target="_blank">Grunt</a> is for packing all javascript codes toger into one package and uglifying it.
                </li>
            </ul>
        </li>
    </ol>

    <p></p>




{% endblock %}