<form action="{{ path('index') }}" method="post">

    {% if error_fields is defined %}
        <div class="alert alert-danger" role="alert">
        {% for field_errors in error_fields %}
            {% for error in field_errors %}
                <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
                </p>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

    {% set nameHasErrors = error_fields is defined and 'name' in error_fields | keys %}
    {% set emailHasErrors = error_fields is defined and 'email' in error_fields | keys %}
    {% set contentHasErrors = error_fields is defined and 'content' in error_fields | keys %}

    <div class="form-group{% if nameHasErrors %} has-error{% endif %}">
        <label class="control-label" for="nameField">{% trans %}Name{% endtrans %}</label>
        <input name="name" type="text" class="form-control" id="nameField" placeholder="{% trans %}Name{% endtrans %}" value="{{ item.name }}">
        {% if nameHasErrors %}
            {% for error in error_fields['name'] %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group{% if emailHasErrors %} has-error{% endif %}">
        <label class="control-label" for="emailField">{% trans %}Email{% endtrans %}</label>
        <input name="email" type="email" class="form-control" id="emailField" placeholder="{% trans %}Email{% endtrans %}" value="{{ item.email }}">
        {% if emailHasErrors %}
            {% for error in error_fields['email'] %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group{% if contentHasErrors %} has-error{% endif %}">
        <label class="control-label" for="exampleInputFile">{% trans %}Content{% endtrans %}</label>
        <textarea name="content" class="form-control" rows="3">{{ item.content }}</textarea>
        {% if contentHasErrors %}
            {% for error in error_fields['content'] %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <button type="submit" class="btn btn-default">{% trans %}Submit{% endtrans %}</button>
</form>