{% extends '@PriitZaveGuestBook/Default/base.html.twig' %}


{% block container_body %}

    <div class="page-header">
        <h1>Zave GuestBook test application</h1>
    </div>


    <div class="row">
        <div class="col-md-4 sidebar">
            {% include '@PriitZaveGuestBook/Default/form.html.twig' %}
        </div>
        <div class="col-md-8 main_content">
            {% include '@PriitZaveGuestBook/Default/list.html.twig' with { 'messages' : messages } only %}
        </div>
    </div>
{% endblock %}