{% for message in messages %}
    <div class="message">
        <div>
            <span class="author">
                {% if message.email %}
                    <a href="mailto:{{ message.email }}">{{ message.name }}</a>
                {% else %}
                    {{ message.name }}
                {% endif %}
            </span>
            <span class="time">{{ message.createdAt | date('d.m.Y H:i') }}</span>
        </div>
        <div class="content">{{ message.content }}</div>
    </div>
{% endfor %}

{#<nav>#}
    {#<ul class="pagination">#}
        {#<li>#}
            {#<a href="#" aria-label="Previous">#}
                {#<span aria-hidden="true">&laquo;</span>#}
            {#</a>#}
        {#</li>#}
        {#<li><a href="#">1</a></li>#}
        {#<li><a href="#">2</a></li>#}
        {#<li><a href="#">3</a></li>#}
        {#<li><a href="#">4</a></li>#}
        {#<li><a href="#">5</a></li>#}
        {#<li>#}
            {#<a href="#" aria-label="Next">#}
                {#<span aria-hidden="true">&raquo;</span>#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{#</nav>#}